<div class="table-responsive small">
  <h2>Mes réservations à venir</h2>
  <% unless @coming_rentals.empty? %>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Œuvre louée</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Propriétaire</th>
          <th scope="col">Montant total</th>
          <th scope="col">Statut</th>
        </tr>
      </thead>
      <tbody>
        <% @coming_rentals.each do |rental| %>
          <tr>
            <td><%= rental.artwork.title %></td>
            <td><%= rental.begin_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.end_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.artwork.owner.first_name %> <%= rental.artwork.owner.last_name %></td>
            <td><%= rental.price %> €</td>
            <td><% if rental.validated == false %>
                <span class="badge text-bg-warning">A valider par le propriétaire</span>
              <% else %>
                <span class="badge text-bg-success">Réservation validée</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="alert-dashboard">Aucune réservation à venir</p>
  <% end %>
  <h2>Mes réservations passées</h2>
  <% unless @past_rentals.empty? %>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Œuvre louée</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Propriétaire</th>
          <th scope="col">Montant total</th>
        </tr>
      </thead>
      <tbody>
        <% @past_rentals.each do |rental| %>
          <tr>
            <td><%= rental.artwork.title %></td>
            <td><%= rental.begin_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.end_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.artwork.owner.first_name %> <%= rental.artwork.owner.last_name %></td>
            <td><%= rental.price %> €</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="alert-dashboard">Aucune réservation passée</p>
  <% end %>
</div>