<div class="table-responsive small">
  <% unless @bookings_to_validate.empty? %>
    <h2>Mes locations à valider</h2>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Œuvre louée</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Locataire</th>
          <th scope="col">Montant total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @bookings_to_validate.each do |rental| %>
          <tr>
            <td><%= rental.artwork.title %></td>
            <td><%= rental.begin_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.end_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.renter.first_name %> <%= rental.renter.last_name %></td>
            <td><%= rental.price %> €</td>
            <td><%= link_to "Valider", accept_booking_path(rental), data: { turbo_method: :patch } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% unless @bookings_validated.empty? %>
    <h2>Mes locations validées</h2>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Œuvre louée</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Locataire</th>
          <th scope="col">Montant total</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings_validated.each do |rental| %>
          <tr>
            <td><%= rental.artwork.title %></td>
            <td><%= rental.begin_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.end_date.strftime("%d/%m/%y") %></td>
            <td><%= rental.renter.first_name %> <%= rental.renter.last_name %></td>
            <td><%= rental.price %> €</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>