<div class="container-fluid" data-controller="dashboard-tabs">
  <h1 class="mb-3"><%= @user.first_name %> <%= @user.last_name %></h1>
  <ul class="list-inline tabs-underlined mb-3" data-dashboard-tabs-target="tabsUl">
    <li>
      <a href="#" class="tab-underlined active" data-action="click->dashboard-tabs#showRentals">Mes réservations</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-action="click->dashboard-tabs#showArtworks">Mes œuvres d'art</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-action="click->dashboard-tabs#showBookings">Mes locations</a>
    </li>
  </ul>
  <div class="row mt-4">
    <div class="col d-none" data-dashboard-tabs-target="myArtworks" id="myArtworks">
      <%= render "my_artworks" %>
    </div>
    <div class="col" data-dashboard-tabs-target="myRentals">
      <%= render "my_rentals" %>
    </div>
    <div class="col d-none" data-dashboard-tabs-target="myBookings">
      <%= render "my_bookings" %>
    </div>
  </div>
</div>
