<div class="container mt-5">
  <h2 class="mb-4">Editer son profil</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="form-group">
        <%= f.input :email, required: true, autofocus: true, label: t('devise.registrations.edit.email'), input_html: { class: 'form-control' } %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="alert alert-warning">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.input :first_name, required: true, label: t('devise.registrations.edit.first_name'), input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :last_name, required: true, label: t('devise.registrations.edit.last_name'), input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :address, required: true, label: t('devise.registrations.edit.address'), input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :password,
                    hint: t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it'),
                    required: false,
                    input_html: { class: 'form-control', autocomplete: "new-password" },
                    label: t('devise.registrations.edit.password') %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { class: 'form-control', autocomplete: "new-password" },
                    label: t('devise.registrations.edit.password_confirmation') %>
      </div>
      <div class="form-group">
        <%= f.input :current_password,
                    hint: t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes'),
                    required: true,
                    input_html: { class: 'form-control', autocomplete: "current-password" },
                    label: t('devise.registrations.edit.current_password') %>
      </div>
    </div>
    <div class="form-actions d-flex justify-content-between mt-3">
      <%= button_tag t('devise.registrations.edit.update'), type: 'submit', class: "button radius-10-0" %><%= link_to t('devise.registrations.edit.back'), :back, class: "button border-button radius-10-0" %>
    </div>
  <% end %>
  <!--
  <h3>Cancel my account</h3>
  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>
  -->
</div>
