<div class="container-fluid px-5">
  <section class="row">

    <div class="col-md-4">
      <div class="image-container">
        <img
          src="<%= @artwork.image_url.presence || cl_image_path(@artwork.photo.key) %>"
          alt="<%= @artwork.title %>"
          class="img-fluid rounded">
      </div>
    </div>

    <div class="col-md-4">
      <h1><%= @artwork.title %></h1>
      <div class="mt-2">
        <i class="fas fa-paint-brush mr-2"></i>
        <span><%= @artwork.artist.artist_display_name %></span>
      </div>
      <div class="d-flex align-items-center mt-2">
        <i class="fas fa-calendar-alt mr-2"></i>
        <span class="mr-2"><%= @artwork.object_date || "Date inconnue" %></span>
      </div>
      <div class="mt-4">
        <p><strong>Dimensions :</strong> <%= @artwork.dimensions || "Non spécifiées" %></p>
        <p><strong>Prix par jour :</strong> <%= @artwork.price_by_day %> €</p>
        <p><strong>Propriétaire :</strong> <%= @artwork.owner.first_name %> <%= @artwork.owner.last_name %></p>
        <%# <p><strong>Commentaire :</strong><%= @artwork.comments.last.content || "Aucun commentaire disponible" %></p>
      </div>
    </div>

    <div class="col">
      <h2>Réservez cette œuvre</h2>
      <%= simple_form_for [@artwork, @booking] do |f| %>
        <div class="row">
          <div class="col-12">
            <%= f.input :begin_date, as: :string, label: "Date de début", input_html: { type: 'date', id: 'begin_date' } %>
          </div>
          <div class="col-12">
            <%= f.input :end_date, as: :string, label: "Date de fin", input_html: { type: 'date', id: 'end_date' } %>
          </div>
        </div>
        <div class="text-center mt-4">
          <%= f.button :submit, "Réserver", class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </section>

  <h3 class="text-center mt-5 mb-3">Œuvres similaires</h3>
  <div class="row">
    <% if @artwork.similar_artworks.any? %>
      <% @artwork.similar_artworks.each do |similar_artwork| %>
        <div class="col-md-3 text-center">
          <a href="<%= artwork_path(similar_artwork) %>">
            <img src="<%= similar_artwork.image_url.presence || cl_image_path(similar_artwork.image.key) %>"
                 alt="<%= similar_artwork.title %>"
                 class="img-fluid rounded mb-2">
            <p><%= similar_artwork.title %></p>
          </a>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">
        <p class="text-center">Aucune œuvre similaire trouvée.</p>
      </div>
    <% end %>
  </div>
</div>
