<div class="card">
  <% if artwork.photo.attached? %>
    <%= cl_image_tag artwork.photo.key, height: 200, width: 200, crop: :fill %>
  <% else %>
    <div class= "missing_picture text-center"></div>
  <%end%>
  <div class="card-artwork-infos">
    <div>
      <h2><%= artwork.title %></h2>
      <h3><%= artwork.artist.artist_display_name %></h3>
      <p><%= artwork.dimensions %></p>
      <div class="price-and-trash">
        <p><%= artwork.price_by_day %> €/jour</p>
        <% if current_user.present? && current_user.id == artwork.owner_id %>
          <%= link_to destroy_artwork_path(artwork), data: { turbo: false }, class: 'delete-link' do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
